<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shrio.demo.mapper.UserMapper">
    <resultMap id="userMapper" type="com.shrio.demo.model.User">
        <id property="uid" column="uid"/>
        <result property="userName" column="userName"/>
        <result property="password" column="password"/>
       <collection property="roles" ofType="com.shrio.demo.model.Role">
           <id property="rid" column="rid"/>
           <result property="name" column="name"/>
           <collection property="permissions" ofType="com.shrio.demo.model.Permission">
               <id property="pid" column="pid"/>
               <result property="name" column="name"/>
               <result property="url" column="url"/>
           </collection>
       </collection>

    </resultMap>
    <!--根据用户名查找用户-->
    <select id="findByUserName" parameterType="string" resultType="userMapper">
        SELECT *
        FROM user
        WHERE userName = #{userName}
    </select>
</mapper>